In [1]:
#import dependencies
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
import pandas as pd
import os
# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float,ForeignKey 

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
data_df=pd.read_csv("Data.csv",low_memory=False)

data_df=data_df.rename(columns={"Price Maximum": "PriceMaximum", "Price Minimum": "PriceMinimum","Start Date":"StartDate"})
data_df=data_df.drop(['Unnamed: 10'], axis=1)
data_df.head()

,Genre,Latitude,Longitude,Name,PriceMaximum,PriceMinimum,StartDate,Subgenre,Venue,VenueID
0,Pop,44.729629,-93.474992,Yanni 25 - Acropolis Anniversary Concert Tour,3200.0,40.5,7/1/18,Adult Contemporary,Mystic Lake Casino Hotel,KovZpaoTHe
1,Metal,47.910614,-97.090993,Metallica - WorldWired Tour,2499.0,62.0,9/8/18,Heavy Metal,Alerus Center,KovZpZA7keEA
2,Metal,43.603580,-116.199107,Metallica - WorldWired Tour,2499.0,63.0,11/28/18,Heavy Metal,Taco Bell Arena,KovZpZAEetIA
3,Metal,33.523653,-86.813768,Metallica - WorldWired Tour,2499.0,93.0,1/22/19,Heavy Metal,Legacy Arena at The BJCC,KovZpZA6t76A
4,Hip-Hop/Rap,44.973208,-93.255966,JAY-Z and BEYONCÉ - OTR II,1993.0,20.0,8/8/18,Urban,U.S. Bank Stadium,KovZpZAF6ttA

In [3]:
#declare the base
Base=declarative_base()

#declare classes and attributes
class Events(Base):
    
    __tablename__="Events"
    id=Column(Integer,primary_key=True)
    genre=Column(String(255))
    Latitude = Column(Float)
    Longitude = Column(Float)
    Name=Column(String(255))
    PriceMaximum = Column(Float)
    PriceMinimum = Column(Float)
    
    StartDate=Column(String(255))
    Subgenre = Column(String(255))
    Venue = Column(String(255))
    VenueID = Column(String(255))

In [4]:
engine = create_engine(os.path.join("sqlite:///EventsDB.db"))
conn = engine.connect()
Base.metadata.create_all(conn)
session = Session(bind=engine)

In [5]:
data_df.to_sql('Events',conn,if_exists = 'append',index = False)
session.commit()

conn.close()