In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Added_States.csv", encoding="latin-1")

In [4]:
df.head()

,Genre,Latitude,Longitude,Name,Price Maximum,Price Minimum,Start Date,State Code,State Name,Subgenre,Venue,VenueID
0,Alternative,37.770599,-122.444000,G Love & Special Sauce,0.0,0.0,3/31/2018,CA,California,Alternative Rock,The Independent,ZFr9jZ76k7
1,Alternative,47.602402,-122.325996,Jake Bugg,0.0,0.0,3/31/2018,WA,Washington,Alternative Rock,Showbox at the Market,ZFr9jZekAe
2,Alternative,39.125599,-106.797203,Spoon,0.0,0.0,3/31/2018,CO,Colorado,Alternative Rock,Belly Up,ZFr9jZAFe7
3,Alternative,36.124401,-115.145103,Incubus,0.0,0.0,3/31/2018,NV,Nevada,Alternative Rock,The Joint-Hard Rock Las Vegas,Z6r9jZFv7e
4,Alternative,33.527000,-112.022499,Declan Mckenna,0.0,0.0,3/31/2018,AZ,Arizona,Alternative Rock,The Rebel Lounge,ZFr9jZevek

In [5]:
# Total number of events in dataset

print(len(df))

4405

In [6]:
# Make a DF without $0 prices

df_non = df.loc[df["Price Minimum"] != 0, :]

In [7]:
print(len(df_non))

3025

In [8]:
# Average price not including zero values

df_non["Price Minimum"].mean()

43.1311140495871

In [23]:
# Find the highest and lowest average price by genre

grouped_genre = df_non.groupby(["Genre"])
low = grouped_genre["Price Minimum"].mean()
high = grouped_genre["Price Maximum"].mean()

In [26]:
print(low)
print()
print(high)

Genre
Country             44.616667
Dance/Electronic    28.892181
Hip-Hop/Rap         35.215065
Metal               34.327520
Pop                 54.454646
Rock                47.009434
Name: Price Minimum, dtype: float64

Genre
Country             161.328801
Dance/Electronic    101.718515
Hip-Hop/Rap         120.342839
Metal               107.303937
Pop                 125.101278
Rock                248.057477
Name: Price Maximum, dtype: float64

In [29]:
mostExp = df_non["Price Maximum"].max()

expEvent = df.loc[df["Price Maximum"] == mostExp, :]
print(expEvent)

     Genre   Latitude  Longitude  \
3060   Pop  44.729629 -93.474992

                                               Name  Price Maximum  \
3060  Yanni 25 - Acropolis Anniversary Concert Tour         3200.0

      Price Minimum Start Date State Code State Name            Subgenre  \
3060           40.5   7/1/2018         MN  Minnesota  Adult Contemporary

                         Venue     VenueID
3060  Mystic Lake Casino Hotel  KovZpaoTHe

In [31]:
# Make a DF with only Nevada

Nevada = df.loc[df["State Name"] == "Nevada", :]

In [32]:
# Find only the Pop events

popNev = Nevada.loc[df["Genre"] == "Pop", :]
popNev.head()

,Genre,Latitude,Longitude,Name,Price Maximum,Price Minimum,Start Date,State Code,State Name,Subgenre,Venue,VenueID
2764,Pop,38.962408,-119.939903,Air Supply,68.34,68.34,4/21/2018,NV,Nevada,Adult Contemporary,South Shore Room at Harrah's Lake Tahoe,KovZpZAJaJAA
2769,Pop,36.109617,-115.172471,Pitbull,149.00,49.00,4/27/2018,NV,Nevada,Pop,Zappos Theater at Planet Hollywood,KovZpZAJalEA
2776,Pop,36.109617,-115.172471,Pitbull,159.00,59.00,4/28/2018,NV,Nevada,Pop,Zappos Theater at Planet Hollywood,KovZpZAJalEA
2797,Pop,36.113765,-115.168899,Wayne Newton Up Close And Personal,178.00,71.00,4/2/2018,NV,Nevada,Adult Contemporary,Windows at Bally's Las Vegas,KovZpZAJalFA
2798,Pop,36.113765,-115.168899,Wayne Newton Up Close And Personal,178.00,71.00,4/3/2018,NV,Nevada,Adult Contemporary,Windows at Bally's Las Vegas,KovZpZAJalFA

In [41]:
# Count of events by their name

Events = popNev.groupby(["Name"]).count()

In [42]:
# Print out the counts of events in Nevada and find hte recurring shows

print(Events)

                                               Genre  Latitude  Longitude  \
Name
Air Supply                                         7         7          7
Frank Marino's Divas                             202       202        202
Human Nature                                      72        72         72
Kesha w/ Macklemore                                1         1          1
Paul Anka                                          4         4          4
Pitbull                                            9         9          9
RICKY MARTIN: LAS VEGAS RESIDENCY                  7         7          7
Rod Stewart                                        1         1          1
Tony Orlando                                       3         3          3
Wayne Newton Up Close And Personal                40        40         40
Yanni 25 - Acropolis Anniversary Concert Tour      1         1          1

                                               Price Maximum  Price Minimum  \
Name
Air Supply                                                 7              7
Frank Marino's Divas                                     202            202
Human Nature                                              72             72
Kesha w/ Macklemore                                        1              1
Paul Anka                                                  4              4
Pitbull                                                    9              9
RICKY MARTIN: LAS VEGAS RESIDENCY                          7              7
Rod Stewart                                                1              1
Tony Orlando                                               3              3
Wayne Newton Up Close And Personal                        40             40
Yanni 25 - Acropolis Anniversary Concert Tour              1              1

                                               Start Date  State Code  \
Name
Air Supply                                              7           7
Frank Marino's Divas                                  202         202
Human Nature                                           72          72
Kesha w/ Macklemore                                     1           1
Paul Anka                                               4           4
Pitbull                                                 9           9
RICKY MARTIN: LAS VEGAS RESIDENCY                       7           7
Rod Stewart                                             1           1
Tony Orlando                                            3           3
Wayne Newton Up Close And Personal                     40          40
Yanni 25 - Acropolis Anniversary Concert Tour           1           1

                                               State Name  Subgenre  Venue  \
Name
Air Supply                                              7         7      7
Frank Marino's Divas                                  202       202    202
Human Nature                                           72        72     72
Kesha w/ Macklemore                                     1         1      1
Paul Anka                                               4         4      4
Pitbull                                                 9         9      9
RICKY MARTIN: LAS VEGAS RESIDENCY                       7         7      7
Rod Stewart                                             1         1      1
Tony Orlando                                            3         3      3
Wayne Newton Up Close And Personal                     40        40     40
Yanni 25 - Acropolis Anniversary Concert Tour           1         1      1

                                               VenueID
Name
Air Supply                                           7
Frank Marino's Divas                               202
Human Nature                                        72
Kesha w/ Macklemore                                  1
Paul Anka                                            4
Pitbull                                              9
RICKY MARTIN: LAS VEGAS RESIDENCY                    7
Rod Stewart                                          1
Tony Orlando                                         3
Wayne Newton Up Close And Personal                  40
Yanni 25 - Acropolis Anniversary Concert Tour        1